---
interface CardProps {
  title: string;
  subtitle: string;
  img: string;
  description: string;
  direction?: 'ltr' | 'rtl'; // Prop para la dirección
}

// Asegúrate de que Astro.props se trata como CardProps
const props = Astro.props as CardProps;
const { title, subtitle, img, description, direction = 'ltr' } = props;
---

<div class={`card ${direction}`}>
  
  <div class="card-image">
    <img src={img} alt={title} />
  </div>

  <div class="card-text">
    <h3 class="card-title">{subtitle}</h3>
    <h2 class="card-section-title">{title}</h2>
    <p class="card-description">{description}</p>
  </div>
</div>

<style>
/* Estilos generales para la carta */
.card {
  display: flex;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 2rem;
  background-color: white; /* Añadido color de fondo */
}

/* Imagen de la tarjeta */
.card-image {
  flex: 1;
  max-width: 50%; /* Asegura que la imagen no ocupe más de la mitad */
}

.card-image img {
  width: 100%;
  max-width: 100%; /* Asegura que la imagen no exceda el contenedor */
  height: auto;
  object-fit: cover;
}

/* Texto de la tarjeta */
.card-text {
  
  flex: 1; /* Ajusta el texto para ocupar el resto del espacio */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente el texto */
}

/* Títulos de la tarjeta */
.card-title {
 
  font-family: var(--font-family-custom);
  font-size: 1.5rem;
  color: var(--highlight-color); /* Nuevo color para los títulos */
  margin-bottom: 0.5rem;
}

.card-section-title {
  font-family: var(--font-family-custom);
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.card-description {
  color: var(--secondary-color);
  margin: 0; /* Elimina márgenes predeterminados */
}

/* Estilos para dirección RTL */
.card.rtl {
  flex-direction: row-reverse;
}

/* Estilos responsivos */
@media (max-width: 768px) {

  
  .card.rtl {
  flex-direction: column;
  }
  .card {
   
    flex-direction: column; /* Cambia a vertical en pantallas más pequeñas */
  }

  .card-image {
   
    max-width: 100%; /* Permite que la imagen ocupe el 100% en pantallas pequeñas */
  }

  .card-section-title {
    font-size: 1.5rem;
  }

  .card-description {
    font-size: 0.875rem;
  }
}

@media (max-width: 480px) {
  .card {
    
    width: 100%;
  }

  .card-section-title {
    font-size: 1.25rem;
  }

  .card-description {
    font-size: 0.75rem;
  }
}
</style>
